<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite">
  <parameter name="username" value="abc@xyz.com"></parameter>
  <parameter name="password" value="abc123"></parameter>
  
  <test thread-count="2" name="testname" parallel="methods">
    <classes>
    	<class name="testsuite.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->